{% macro meta(page) %}
    {% if page.date %}Published: {{ page.date | date(format="%F") }}{% endif %}
{% endmacro meta %}

{% macro page_in_list(page) %}
    <article itemscope itemtype="http://schema.org/CreativeWork">
        <header>
            <h2 class="post-list-title" itemprop="name">
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </h2>
            <data class="muted">{{ self::meta(page=page) }}</data>
        </header>
        {% if page.summary %}
            <section itemprop="summary">
                {{ page.summary | safe }}
                <nav class="readmore"><a itemprop="url" href="{{ page.permalink | safe }}">Read More&nbsp;&raquo;</a></nav>
            </section>
        {% endif %}
    </article>
{% endmacro page_in_list %}
